.form-input{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

.label-input{
    justify-content: center;
    padding: 12px 0px;
}

.input-message{
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 10px;
}


@media only screen and (min-width: 1150px) {
    .form-input{
        display: flex;
        flex-direction: row;
        padding: 50px 10px;
    }

    .label-input{
        width: 10%;
        padding: 12px 4%;
    }

    #message{
        width: 80%;
    }
  }
